page-categories {
.highlight-icon2 {font-size: 13.5px; height: 67px; line-height: 65px; text-transform: capitalize;
  color: white;
  text-shadow:
   -1px -1px 0 #034c31,  
    1px -1px 0 #034c31,
    -1px 1px 0 #034c31,
     1px 1px 0 #034c31;
}
.categories {
  display: block;
}

.text-warning {
    color: #ffc107!important;
}

.bg-warning {
    background: #ffc107!important;
}
.p-1 {
    padding: .25rem !important;
}

.col-12 { width: 100%; min-height: 1px; }
.toolbar-background { color: #fff; background-color: #034c31; }
.text-green {color: #034c31; }
.bg-green {background-color: #034c31;}

.label { margin: 0; }
.mt-1 {margin-top: 5px; }
.footerButtons {
	background:transparent; border:none; webkit-box-shadow:0; box-shadow: 2px 2px 0 #034c31, 0 3px 1px -2px #034c31, 0 1px 5px 0 #034c31; 
}
.button.activated {
	background: #034c31;
}
.bg-danger {
    color: #fff;
    background-color: #034c31;
}
.iconit {
	font-size: 30px;
}

.sharedaddy {
	display:none;
}
.back-button {
	color: #FFF;
}



}
